/* Global */
body {
  font-family: Arial, Helvetica, sans-serif;
}

ul {
  padding: 0;
  list-style: none;
}

main {
  padding-bottom: 2rem;
}

a {
  display: inline-block;
  color: black;
  text-decoration: none;
}

a:hover {
  background-color: yellow;
  font-weight: bold;
}

h2 {
  font-weight: normal;
  font-size: 1.75rem;
  margin-top: 3rem;
  margin-bottom: 1.75rem;
}

button {
  background-color: #fff;
  border: solid 2px black;
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  background-color: yellow;
}

hr {
  border: solid 3px black;
}

select {
  border: solid 2px black;
  padding: 0.5rem 0.15rem;
  width: 100%;
}

/* Cart */

.cart {
  text-align: right;
  position: relative;
  margin-right: 3rem;
}

.cart div {
  font-size: 0.75rem;
}

#cart-summary {
  position: absolute;
  top: 2.75rem;
  right: 2rem;
}

/* #cart-summary  */
#cart-popup {
  text-align: left;
  border: solid 1px #c5c5c5;
  background-color: #fff;
  position: absolute;
  padding: 0.25rem;
  width: 150px;
  left: calc(-75px + 50%);
  top: 2.75rem;
}

.cart #cart-popup .cart-product {
  margin-top: 1rem;
}

/* Products */
